<!DOCTYPE html>
<html lang="en">
<head> //REPETIR TODO ESTO CON COMPONENTES
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2c91db2581.js" crossorigin="anonymous"></script>
    <title>Menú</title>
</head>
<body>
    <header>
        <img src="../public/images/zyro-image.svg" alt="Logo" class="unicauca">
    </header> 

    <main class="main">
        <div class="section-1">
            <img src="../public/images/coffee-beans.svg" alt="coffe-bag">
            <div class="columna">
            <p><a href="#">Registrar lote de cps</a></p>
            <p><a href="#">Ver historial de compras</a></p>
            </div>
        </div>

        <div class="section-1">
            <img src="../public/images/farmer_2979790.svg" alt="caficultor">
            <div class="columna">
            <a href="registerCaficultor.html">Registrar caficultor</a>
            </div>
        </div>
        <div class="section-1">
            <img src="../public/images/search-coffe-bean.svg" alt="coffe-bean">
            <div class="columna">
            <p><a href="#">Nuevo análisis físico</a></p>
            <p><a href="#">Ver historial de análisis</a></p>
            </div>
        </div>
        <div class="section-1">
            <img src="../public/images/smell_5235019.svg" alt="coffe-bean">
            <div class="columna">
            <p><a href="#">Nueva catación</a></p>
            <p><a href="#">Ver historial de cataciones</a></p>
            </div>
        </div>
        
    </main>
    <footer>
        <div class="container">
          <div class="footer-content">
            <div class="footer-links">
              <a href="#">Contacto</a>
              <a href="#">Sobre nosotros</a>
            </div>
            <div class="footer-social">
              <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </footer>
    
</body>
</html>