* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 16px;
}
:root {
  --gris : #757575;
  --rojo : #ba1b1d;
  --blanco: ##F7F4F3;


}



body{
  height: 100vh;

  
}


.logoCaucafe{
  height: 40%;
}

footer{
  height: 10vh;
}
a{
  color: black;
  font-weight: 600;
  padding-bottom: 3%;
}

header {
  display: flex;
  justify-content: center;
  height: 10vh;
  margin-bottom: 2%;
}

.unicauca{
  height: 20vh;
  
}

main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-evenly;
  align-items: center;
}

main img{
  height: 8vh;
  padding-bottom: 3%;
}

.section-1{
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: center;

}

footer {
  background-color: #a5907e;
  color: white;
  padding: 20px;
  
  bottom: 0;
  width: 100%;
  height:auto;
  z-index: 2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.footer-social a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.footer-social i {
  font-size: 18px;
}


@media (min-width: 768px) {
  *{
      font-size: 25px;
  }
  main img{
      height: 15vh;
      padding-bottom: 0;
      padding-right:3vw;
  }
  
  .section-1{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .columna{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20vw;
  }
  a{
      padding-bottom: 0;
  }
  header {
      display: flex;
      justify-content:center ;
      
  }
  
  .unicauca{
      height: 20vh;
      
  }
  
  
}

/* ANALISIS FISICO */

.divAnalisisFisico{
  display: flex;
  width: 70%;
  height: 80%}

.mainRegisterCafi{

  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-around;

}

/* REGISTRO DE LOTE */




.field{
  
  display: flex;
  height: 80%;
  background-color: var(--gris);
  flex-direction: column;
  border-radius: 1rem;
  margin: 0 3%;
  width: 75%;
}

.main-lote{
  height: 75%;
}
.status-regiLote{
  height: 10%;
  padding-top: 5%;
}

@media (min-width: 768px) {
    .field {
      height:100%;
      width: 75%;
      
}
.main-lote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
}

.siguiente-lote{  
  padding-top: 5%;
  padding-bottom: 2%;
}
}

.input-text{
  width: 90%;
  border: none;
  padding: .2rem;
  border-radius: 0.5rem;
}

.campoRegistroLote{
  margin: 3% 0;
}

.field label{
  padding-bottom: 2%;
  display: block;
  color: white;
}

.divLabel{
  display: flex;
  width: 60%;
  padding-left: 5%;
}
.botonGuardar{
  background-color: #0097a7;
  color: var(--blanco);
  padding: .2rem .2rem;
  text-decoration: none;
  text-transform: none;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 40%;
  text-align: center;
  border: none;
}

.bottomRegistro h3{
  padding-top: 1%;
}
.bottomRegistro h4{
  padding-top: 1%;
}

.siguiente{
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 100%;
}

.siguiente a{
  padding: 6%;
  background-color: #0097a7;
  border-radius: .5rem;
}